.venv
.venv.old
venv
**/__pycache__

# data
test_frames
train-proxy-data
unpacked_detections
packed_images
track-results*
videos
videos-small
output

**/model.pth

**/track-accuracy-*/*
**/video-masked/*
**/*.py.log

**/pipeline-*/video-masked*
**/pipeline-*/tracking_results
**/pipeline-*/tracking_results_otif
**/pipeline-*/track-accuracy-eval-pack*

**/train-proxy-data*

det/
det_otif

**/*.pt