services:
  polyis:
    extends:
      file: docker-compose.base.yml
      service: polyis
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
