services:
  polyis:
    build: .
    container_name: polyis
    tty: true
    environment:
      - TERM=xterm-256color
      - POLYIS_DATA=/polyis-data
      - POLYIS_CACHE=/polyis-cache
    volumes:
      - .:/polyis
      # Change /data/chawutk/polyis-dataset to your local path
      - ${DATA}/polyis-data:/polyis-data
      - ${DATA}/polyis-cache:/polyis-cache
      - ${DATA}/otif-dataset:/otif-dataset
      # - ${WORK}/../data/polytris-data:/polytris-data
      - ${HOME}/.ssh:/root/.ssh
      - ${HOME}/.config:/root/.config
      - ${HOME}/.claude:/root/.claude
      - /data/alenachao/outputs/hota_outputs:/sota-results
    tmpfs:
      - /tmp
    network_mode: "host"
    shm_size: "8gb"
